body{
    background-color: #e8e8e8;
}
#parallaxContainer{
    height: 450px;
}
#parallaxImage{
    opacity: 1;
}
#headerContent{
    text-align: center;
    margin-top: 30px;
    color: #e8e8e8;
}
#profileButton{
    height: 300px;
    width: 300px;
}
#headerTitle{
    margin-top: 15px;
    margin-bottom: 0px;
}
#headerText{
    margin-top: 5px;
}
#mainContent{
    min-height: 1000px;
}