#parallax-image{
    opacity: 1;
}
#buttonContainer{
    padding-top: 25px;
    padding-bottom: 5px;
}
#profileButton{
    background: url("../images/website\ pic.jpg");
    height: 300px;
    width: 300px;
}
.siteHead{
  color: #f2f2f2;
  margin-top: 5px;
  margin-bottom: 5px;
}
.siteHead2{
  color: #f2f2f2;
  margin-top: 0px;
}
body{
  background-color: #f2f2f2;
  font-family: 'Work Sans', sans-serif;
  min-height: 2100px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
}
#githubIcon{
  height: 35px;
  width: 35px;
  margin-right: 5px;
  display: inline-block;
}
#linkedinIcon{
  height: 35px;
  width: 35px;
  margin-right: 5px;
  display: inline-block;
}
#twitterIcon{
  height: 35px;
  width: 35px;
  display: inline-block;
}
#aboutMeText{
  font-size: 1.3rem;
  line-height: 1.4;
}
#gitCard{
  height: 400px;
  background-image: url("../images/grand-teton-national-park-3840x2400-pond-lake-4k-5401\ copy.jpg");
}
#gitCardTitle{
  color: #f2f2f2;
  margin-top: 250px;
  margin-left: 10px;
}
#gifCard{
  height: 400px;
  background-image: url("../images/walk\ of\ fame.jpg");
}
#gifCardTitle{
  color: #f2f2f2;
  margin-top: 250px;
  margin-left: 10px;
}
#scrapeCard{
  height: 400px;
  background-image: url("../images/Screen\ Shot\ 2018-12-12\ at\ 6.45.32\ PM.png");
}
#githubLinks{
  text-decoration: underline;
}
#list{
  display: inline-block;
}
#list2{
  display: inline-block;
}
#pushDown{
  margin-bottom: 50px;
}
